.list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;

    li {
        div {
            background: var(--background);
        }
    }
}

.draggable_list {
    composes: list;

    position: relative;
    overflow-y: auto;
    margin-left: calc(var(--offset-base-size) * -4);
    left: calc(var(--offset-base-size) * 4);
    max-height: calc(100vh - 500px);

    scroll-snap-type: y proximity;
    scrollbar-color: #2F2F37 #8585AD;
    scrollbar-width: thin;
    scroll-snap-type: y proximity;

    &::-webkit-scrollbar {
        width: calc(var(--offset-base-size) * 2);
    }
    &::-webkit-scrollbar-track {
        background: #2F2F37;
    }
    &::-webkit-scrollbar-thumb {
        background: #8585AD;
    }

    li {
        scroll-snap-align: start;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }
}

.draggable_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    scroll-snap-align: start;
    justify-content: flex-start;
}

.drag_icon {
    flex-shrink: 0;
    margin-right: calc(var(--offset-base-size) * 2);
}

.order {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    svg {
        width: 33px;
        height: auto;
    }
}

.warningText {
    text-align: center;
}

.emptyBun {
    width: 100%;
}

.disabled {
    opacity: 0.5;
}