.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    max-width: 15vw;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.name {
    text-align: center;
    flex-basis: 48px;
}